In [522]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype
from datetime import datetime, timedelta
from utils import format_number

from config import LAST_N_DAYS, COL_NAMES_TO_INCLUDE

pd.options.display.float_format = "{:,.2f}".format

In [523]:
def extract_source(source_string):
    source_list = source_string.split("-")
    if len(source_list) > 1:
        return source_list[1].strip()  # strip() is used to remove any leading/trailing spaces
    else:
        return source_string.strip()
    
def cleanup_string(source_string):
    return source_string.replace(" ", "").lower()

def merge_dfs(df_to_merge, key="app_name_join", cols=COL_NAMES_TO_INCLUDE):
    df_combined = pd.merge(df_choice, df_to_merge, on=key).merge(df_tvl, on=key).merge(df_op_distribution, on=key)
    return df_combined[cols]

def calculate_metrics(df):
    inc_cols = df.filter(like='incremental_').columns
    inc_cols = [col for col in inc_cols if 'per_op' not in col]
    # df = df.assign(**{f'incremental_{col.split("_")[1]}_annualized_per_op': df[col] * 365 / df["net_op_deployed"] for col in inc_cols})
    df = df.assign(**{f'{col.replace("_per_day", "")}_annualized_per_op': df[col] * 365 / df["net_op_deployed"] for col in inc_cols})
    df["net_tvl_per_op"] = df["cumul_last_price_net_dollar_flow"] / df["net_op_deployed"]

    return df

# Incentive Program Summary
Status of programs live, completed and to be announced by season.

In [524]:
df_info = pd.read_csv("inputs/" + "op_incentive_program_info" + ".csv")

In [525]:
# convert to datetime
df_info["start_date"] = pd.to_datetime( df_info["Announced On"].fillna(df_info["Start Date"]) )
df_info["end_date"] = pd.to_datetime( df_info["End Date"] )

# convert program status into ordered categorical type
cat_size_order = CategoricalDtype(
    ["Live ‚Äéüî•", "Coming soon ‚Äé‚è≥", "Completed"], 
    ordered=True
)
df_info["Status"] = df_info["Status"].astype(cat_size_order)

for i in ['GovFund','GovFund Growth Experiments','All Programs']:
    # Assign the filters
    if i == 'GovFund':
        filter_name = " - GovFund Only"
        df_choice = df_info[df_info['Source'] != 'Partner Fund'].copy()
    elif i == 'GovFund Growth Experiments':
        filter_name = " - GovFund Growth Exp."
        df_choice = df_info[df_info['Source'] != 'Partner Fund'].copy()
        df_choice =  df_choice[df_choice['Incentive / Growth Program Included?'] == 'Yes']
    else:
        filter_name = ""
        df_choice = df_info.copy()

    # clean up for columns needed
    df_choice = df_choice[["Source","Status","# OP Allocated","App Name","start_date", "end_date", "App Name Map Override"]]
    summary = pd.pivot_table(df_choice, values=["# OP Allocated", "App Name"], index=["Status", "Source"], \
        aggfunc={"# OP Allocated":"sum", "App Name":"count"})

    subtotal_name = "Subtotal" + filter_name
    # calculate subtotals on program status
    result=pd.concat([summary,summary.groupby(level=0).sum().assign(item_name=subtotal_name).set_index("item_name",append=True)]).sort_index(level=[0,1])
    result = result.sort_index(level=[0, 1], ascending=[True, False])

    # add grand total to summary
    result.loc[("Grand Total"), "# OP Allocated"] = summary["# OP Allocated"].sum()
    result.loc[("Grand Total"), "App Name"] = summary["App Name"].sum()

    # cleanup display
    result["# Programs"] = result["App Name"].astype(int)
    result["# OP Allocated (M)"] = result["# OP Allocated"].apply(format_number)

    # calculate percentage of total
    result.loc[(slice(None), subtotal_name), "# OP Allocated"] / summary["# OP Allocated"].sum()
    result["% OP Allocated"] = round(result.loc[(slice(None), subtotal_name), "# OP Allocated"] / summary["# OP Allocated"].sum() * 100).\
        astype(str).replace("\.0", "", regex=True) + "%"
    result["% OP Allocated"].fillna("-", inplace=True)

    result = result.replace((0, "0.0M"), "-")
    print(i)
    display(result.drop(columns=["# OP Allocated", "App Name"]))
    print()

GovFund

                                       # Programs # OP Allocated (M)  \
Status         Source
Live ‚Äéüî•        Subtotal - GovFund Only         35              41.2M
               Governance - Season 3            -                0.0
               Governance - Season 2           12               7.2M
               Governance - Season 1            9               4.5M
               Governance - Phase 0            14              29.5M
Coming soon ‚Äé‚è≥ Subtotal - GovFund Only         54              14.4M
               Governance - Season 3           22               2.5M
               Governance - Season 2           18               5.7M
               Governance - Season 1            7               2.1M
               Governance - Phase 0             7               4.1M
Completed      Subtotal - GovFund Only          5               2.6M
               Governance - Season 3            -                0.0
               Governance - Season 2            1             240.0K
               Governance - Season 1            -                0.0
               Governance - Phase 0             4               2.4M
Grand Total                                    94              58.2M

                                       % OP Allocated
Status         Source
Live ‚Äéüî•        Subtotal - GovFund Only            71%
               Governance - Season 3                -
               Governance - Season 2                -
               Governance - Season 1                -
               Governance - Phase 0                 -
Coming soon ‚Äé‚è≥ Subtotal - GovFund Only            25%
               Governance - Season 3                -
               Governance - Season 2                -
               Governance - Season 1                -
               Governance - Phase 0                 -
Completed      Subtotal - GovFund Only             5%
               Governance - Season 3                -
               Governance - Season 2                -
               Governance - Season 1                -
               Governance - Phase 0                 -
Grand Total                                         -

GovFund Growth Experiments

                                              # Programs # OP Allocated (M)  \
Status         Source
Live ‚Äéüî•        Subtotal - GovFund Growth Exp.         33              41.1M
               Governance - Season 3                   -                0.0
               Governance - Season 2                  10               7.1M
               Governance - Season 1                   9               4.5M
               Governance - Phase 0                   14              29.5M
Coming soon ‚Äé‚è≥ Subtotal - GovFund Growth Exp.         32              10.9M
               Governance - Season 3                  12               2.1M
               Governance - Season 2                  13               5.2M
               Governance - Season 1                   4               1.3M
               Governance - Phase 0                    3               2.2M
Completed      Subtotal - GovFund Growth Exp.          5               2.6M
               Governance - Season 3                   -                0.0
               Governance - Season 2                   1             240.0K
               Governance - Season 1                   -                0.0
               Governance - Phase 0                    4               2.4M
Grand Total                                           70              54.6M

                                              % OP Allocated
Status         Source
Live ‚Äéüî•        Subtotal - GovFund Growth Exp.            75%
               Governance - Season 3                       -
               Governance - Season 2                       -
               Governance - Season 1                       -
               Governance - Phase 0                        -
Coming soon ‚Äé‚è≥ Subtotal - GovFund Growth Exp.            20%
               Governance - Season 3                       -
               Governance - Season 2                       -
               Governance - Season 1                       -
               Governance - Phase 0                        -
Completed      Subtotal - GovFund Growth Exp.             5%
               Governance - Season 3                       -
               Governance - Season 2                       -
               Governance - Season 1                       -
               Governance - Phase 0                        -
Grand Total                                                -

All Programs

                                     # Programs # OP Allocated (M)  \
Status         Source
Live ‚Äéüî•        Subtotal                      35              41.2M
               Partner Fund                   -                0.0
               Governance - Season 3          -                0.0
               Governance - Season 2         12               7.2M
               Governance - Season 1          9               4.5M
               Governance - Phase 0          14              29.5M
Coming soon ‚Äé‚è≥ Subtotal                      54              14.4M
               Partner Fund                   -                0.0
               Governance - Season 3         22               2.5M
               Governance - Season 2         18               5.7M
               Governance - Season 1          7               2.1M
               Governance - Phase 0           7               4.1M
Completed      Subtotal                       8              11.1M
               Partner Fund                   3               8.4M
               Governance - Season 3          -                0.0
               Governance - Season 2          1             240.0K
               Governance - Season 1          -                0.0
               Governance - Phase 0           4               2.4M
Grand Total                                  97              66.7M

                                     % OP Allocated
Status         Source
Live ‚Äéüî•        Subtotal                         62%
               Partner Fund                       -
               Governance - Season 3              -
               Governance - Season 2              -
               Governance - Season 1              -
               Governance - Phase 0               -
Coming soon ‚Äé‚è≥ Subtotal                         22%
               Partner Fund                       -
               Governance - Season 3              -
               Governance - Season 2              -
               Governance - Season 1              -
               Governance - Phase 0               -
Completed      Subtotal                         17%
               Partner Fund                       -
               Governance - Season 3              -
               Governance - Season 2              -
               Governance - Season 1              -
               Governance - Phase 0               -
Grand Total                                       -

In [526]:
# display new programs in last 30 days
df_new_programs = df_choice[df_choice["start_date"]>pd.Timestamp("today") - timedelta(days = LAST_N_DAYS)].sort_values(by="start_date", ascending=False)
if not df_new_programs.empty:
    df_new_programs["end_date"].fillna("-", inplace=True)
    display(df_new_programs.drop("App Name Map Override", axis=1))

,Source,Status,# OP Allocated,App Name,start_date,end_date
67,NaN,Live ‚Äéüî•,NaN,Quests on Coinbase Wallet,2023-03-09,-
81,Governance - Season 2,Live ‚Äéüî•,"504,000.00",Sushiswap,2023-03-03,-
11,Governance - Season 2,Live ‚Äéüî•,"33,000.00",Bankless Academy,2023-02-22,-
8,Governance - Season 2,Live ‚Äéüî•,"250,000.00",Angle,2023-02-20,-
93,Governance - Season 1,Live ‚Äéüî•,"300,000.00",WardenSwap,2023-02-17,-
68,Governance - Season 2,Live ‚Äéüî•,"420,069.00",Rainbow Wallet,2023-02-13,-

In [527]:
# display completed programs in last 30 days
df_completed = df_choice[(df_choice['Status'] == 'Completed') & (df_choice['end_date']>pd.Timestamp('today') - timedelta(days = LAST_N_DAYS))]\
        .sort_values(by='start_date', ascending=False)
if not df_completed.empty:
        display(df_completed.drop("App Name Map Override", axis=1))

,Source,Status,# OP Allocated,App Name,start_date,end_date
69,Governance - Season 2,Completed,"240,000.00",Revert Finance,2022-11-03,2023-03-06

# Usage and TVL Attribution
To combine all sources of data together

### `DF_INFO` Cleanup

In [528]:
# create app_name_join, coalesce with app name override map, app name and remove any space
df_choice["app_name_join"] = df_choice["App Name Map Override"].fillna(df_choice["App Name"])
df_choice["app_name_join"] = df_choice["app_name_join"].apply(cleanup_string)

# apply the function to the "Source" column and create a new column "Source Extracted"
df_choice["source_cleanup"] = df_choice["Source"].astype(str).apply(extract_source)
df_choice["source_cleanup"] = df_choice["source_cleanup"].apply(cleanup_string)

df_info_summary = df_choice.groupby(["app_name_join", "App Name"]).sum()["# OP Allocated"].reset_index()

/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/4117013874.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_info_summary = df_choice.groupby(["app_name_join", "App Name"]).sum()["# OP Allocated"].reset_index()

### `DF_USAGE` Cleanup

In [529]:
df_usage = pd.read_csv("csv_outputs/" + "dune_op_program_performance_summary" + ".csv")
df_usage["app_name_join"] = df_usage["app_name"].apply(cleanup_string)

df_usage["op_source_length"] = df_usage["op_source"].str.split(',').apply(len)

df_usage["op_source_map"] =np.where(df_usage["op_source_length"]>1,['Multiple'],df_usage["op_source"])

In [530]:
df_usage_single = df_usage[df_usage["op_source_length"] == 1]
df_usage_multiple = df_usage[df_usage["op_source_length"] > 1]

### `DF_TVL` Cleanup

In [531]:
df_tvl = pd.read_csv('csv_outputs/op_summer_latest_stats.csv')
df_tvl = df_tvl[df_tvl["include_in_summary"] == 1]

# cleanup
df_tvl["app_name_join"] = df_tvl["parent_protocol"].apply(cleanup_string)
df_tvl = df_tvl.groupby("app_name_join").sum()["cumul_last_price_net_dollar_flow"].reset_index()

/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/2729100378.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_tvl = df_tvl.groupby("app_name_join").sum()["cumul_last_price_net_dollar_flow"].reset_index()

### `DF_OP_DISTRIBUTION` Cleanup

In [532]:
df_op_distribution = pd.read_csv("csv_outputs/dune_op_distribution_type.csv")
df_op_distribution["net_op_deployed"] = (df_op_distribution["op_deployed"] - df_op_distribution["op_from_other_projects"]).astype(float)
df_op_distribution["app_name_join"] = df_op_distribution["from_name"].apply(cleanup_string)

df_op_distribution = df_op_distribution.groupby("app_name_join").sum()[["op_deployed", "net_op_deployed"]].reset_index()

/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/200089238.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_op_distribution = df_op_distribution.groupby("app_name_join").sum()[["op_deployed", "net_op_deployed"]].reset_index()

### Combine Data

In [533]:
agg_dict = {
    "# OP Allocated": "sum",
    "net_op_deployed": "sum",
    "incremental_addr_per_day": "sum",
    "incremental_txs_per_day": "sum",
    # "incremental_txs_per_day_after": "sum",
    "incremental_gas_fee_eth_per_day": "sum",
    "cumul_last_price_net_dollar_flow": "sum"
}
agg_dict_b = {
    "# OP Allocated": "sum",
    "net_op_deployed": "sum",
    "incremental_addr_per_day": "sum",
    "incremental_txs_per_day": "sum",
    "incremental_txs_per_day_after": "sum",
    "incremental_gas_fee_eth_per_day": "sum",
    "cumul_last_price_net_dollar_flow": "sum"
}

#### By Fund Source

In [534]:
# single programs
df_combined = merge_dfs(df_usage_single)
result_fund_source = df_combined.groupby("Source").agg(agg_dict)
result_fund_source.sort_values("Source").reset_index()

# calculate metrics
result_fund_source = calculate_metrics(result_fund_source)
result_fund_source = result_fund_source.reset_index()
result_fund_source[~result_fund_source["Source"].isin(["Governance - Season 3", "Partner Fund"])]

,Source,# OP Allocated,net_op_deployed,incremental_addr_per_day,incremental_txs_per_day,incremental_gas_fee_eth_per_day,cumul_last_price_net_dollar_flow,incremental_addr_annualized_per_op,incremental_txs_annualized_per_op,incremental_gas_fee_eth_annualized_per_op,net_tvl_per_op
0,Governance - Phase 0,"28,800,000.00","20,825,762.00","8,621.51","9,719.46",67.94,"203,509,034.14",0.15,0.17,0.00,9.77
1,Governance - Season 1,"3,300,000.00","1,763,165.00","1,235.87","3,353.81",10.18,"110,691,311.52",0.26,0.69,0.00,62.78
2,Governance - Season 2,"1,490,000.00","906,065.00",260.38,685.12,2.43,"17,780,032.12",0.10,0.28,0.00,19.62

In [535]:
# multiple programs
df_tvl_multiple = df_tvl.groupby("app_name_join").sum()["cumul_last_price_net_dollar_flow"]
df_choice_multiple = df_choice.groupby("app_name_join").sum()["# OP Allocated"]
df_op_distribution_multiple = df_op_distribution.groupby("app_name_join").sum()["net_op_deployed"]
df_combined_multiple = pd.merge(df_usage_multiple, df_choice_multiple, on="app_name_join").merge(df_op_distribution_multiple, on="app_name_join").merge(df_tvl_multiple, on="app_name_join")
df_combined_multiple

# calculate metrics
result_fund_source_multiple = calculate_metrics(df_combined_multiple)
cols = [
    "op_source",
    "app_name",
    "# OP Allocated",
    "net_op_deployed",
    "incremental_addr_per_day",
    "incremental_txs_per_day",
    "incremental_txs_per_day_after",
    "incremental_gas_fee_eth_per_day",
    "cumul_last_price_net_dollar_flow"
]
result_fund_source_multiple = result_fund_source_multiple[cols]

# calculate metrics
result_fund_source_multiple = calculate_metrics(result_fund_source_multiple)
result_fund_source_multiple

result_fund_source_multiple_map = result_fund_source_multiple.copy()
result_fund_source_multiple_map['op_source'] = 'Multiple'

result_fund_source_multiple_map = (result_fund_source_multiple_map.groupby(['op_source']).sum()).reset_index()
result_fund_source_multiple_map = calculate_metrics(result_fund_source_multiple_map.iloc[:,:-4])
display(result_fund_source_multiple_map)

/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/2444036692.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_choice_multiple = df_choice.groupby("app_name_join").sum()["# OP Allocated"]
/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/2444036692.py:30: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result_fund_source_multiple_map = (result_fund_source_multiple_map.groupby(['op_source']).sum()).reset_index()

,op_source,# OP Allocated,net_op_deployed,incremental_addr_per_day,incremental_txs_per_day,incremental_txs_per_day_after,incremental_gas_fee_eth_per_day,cumul_last_price_net_dollar_flow,incremental_addr_annualized_per_op,incremental_txs_annualized_per_op,incremental_txs_after_annualized_per_op,incremental_gas_fee_eth_annualized_per_op,net_tvl_per_op
0,Multiple,"9,450,000.00","6,946,246.00","3,615.82","10,700.99",0.00,20.22,"227,042,064.86",0.19,0.56,0.00,0.00,32.69

In [536]:
# by app 
df_info["app_name_join"] = df_info["App Name Map Override"].fillna(df_info["App Name"])
df_info["app_name_join"] = df_info["app_name_join"].apply(cleanup_string)

df_choice_combined = df_info.groupby("app_name_join").sum()
df_combined = pd.merge(df_choice_combined, df_usage, on="app_name_join").merge(df_tvl, on="app_name_join").merge(df_op_distribution, on="app_name_join")
df_combined = df_combined[cols]
display(df_combined)

result_app = df_combined.groupby("app_name").agg(agg_dict_b)

# calculate metrics
result_app = calculate_metrics(result_app)

/var/folders/by/kltjc8yd0yz_7_wrtrzhrm9m0000gn/T/ipykernel_81248/1467152455.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_choice_combined = df_info.groupby("app_name_join").sum()

,op_source,app_name,# OP Allocated,net_op_deployed,incremental_addr_per_day,incremental_txs_per_day,incremental_txs_per_day_after,incremental_gas_fee_eth_per_day,cumul_last_price_net_dollar_flow
0,['Partner Fund'],Aave,"5,300,000.00","4,820,781.00","1,199.02","3,122.79","4,744.49",4.15,"77,329,625.73"
1,['Phase 0'],Aelin,"900,000.00","900,002.00",4.23,7.83,-4.99,0.03,"-2,777.71"
2,['Season 2'],Alchemix,"250,000.00","21,897.00",5.38,9.75,NaN,0.15,"4,067,799.27"
3,['Season 2'],Angle,"250,000.00","25,359.00",26.67,48.81,NaN,0.89,"-419,066.43"
4,['Season 1'],Beefy Finance,"650,000.00","281,962.00",-114.94,-80.37,NaN,1.42,"34,600,187.71"
5,['Season 1'],Beethoven X,"500,000.00","164,703.00","1,010.48","2,297.19",NaN,4.64,"26,250,099.00"
6,['Phase 0'],Celer,"1,000,000.00","170,001.00",5.40,100.91,NaN,0.07,"2,747,144.12"
7,['Phase 0'],Clipper,"300,000.00","177,934.00",-438.77,"-1,814.10",NaN,-0.41,"-189,985.03"
8,['Season 1'],dForce,"300,000.00","555,713.00",8.21,23.22,NaN,0.31,"4,617,308.13"
9,['Season 2'],dHedge,"350,000.00","202,257.00",100.77,168.45,NaN,0.67,"8,728,060.05"
10,['Phase 0'],Hop Protocol,"1,000,000.00","152,602.00","1,024.87","3,003.30",NaN,10.36,"7,104,188.88"
11,['Season 1'],Hundred Finance,"300,000.00","143,320.00",27.90,83.87,NaN,0.19,"4,834,801.99"
12,['Phase 0'],Layer2DAO,"300,000.00","449,353.00",17.35,20.35,NaN,0.20,"117,501.46"
13,['Phase 0'],Lyra,"3,000,000.00","1,224,744.00",115.65,325.35,NaN,0.67,"6,188,051.26"
14,['Season 2'],Overnight,"400,000.00","415,713.00",95.34,240.55,NaN,0.67,"3,807,575.15"
15,['Phase 0'],Perpetual Protocol,"9,000,000.00","5,458,195.00",554.22,"-9,939.63",NaN,-11.06,"-10,726,157.79"
16,['Season 1'],Pickle Finance,"200,000.00","69,600.00",11.86,98.91,NaN,0.15,"2,588,793.77"
17,['Phase 0'],Pika Protocol,"900,000.00","672,632.00","1,885.56","4,781.95",NaN,1.60,"10,999,054.19"
18,['Phase 0'],Polynomial Protocol,"900,000.00","319,284.00",495.57,562.66,NaN,0.05,"31,274.63"
19,"['Season 2', 'Partner Fund']",PoolTogether,"1,000,000.00","842,488.00","1,688.25","1,910.07",NaN,0.14,"25,209,238.41"
20,['Season 1'],QiDao,"750,000.00","342,865.00",292.37,930.99,NaN,3.48,"1,395,583.33"
21,['Season 2'],Revert Finance,"240,000.00","240,839.00",32.22,217.56,246.67,0.06,"1,595,664.07"
22,['Season 1'],Rocket Pool,"600,000.00","205,002.00",NaN,NaN,NaN,NaN,"36,404,537.59"
23,['Phase 0'],Rubicon,"1,100,000.00","791,082.00",774.49,"4,110.26","1,583.82",3.96,"-1,094,191.82"
24,['Phase 0'],Stargate Finance,"1,000,000.00","469,725.00",949.28,"1,306.27",NaN,2.90,"26,951,682.20"
25,['Phase 0'],Synthetix,"9,000,000.00","4,919,425.00","2,018.51","4,092.16",NaN,55.36,"83,886,839.97"
26,"['Phase 0', 'Season 2']",Thales,"1,450,000.00","1,048,991.00",209.03,745.57,NaN,0.64,"-122,771.74"
27,"['Partner Fund', 'Season 2']",Velodrome,"7,000,000.00","5,054,767.00","1,718.54","8,045.35",NaN,19.45,"201,955,598.20"
28,['Phase 0'],WePiggy,"300,000.00","300,002.00",16.14,39.35,12.07,0.08,"166,784.05"

In [537]:
result_app = result_app.reset_index()

In [538]:
# sort by tvl 
cols = [
    "app_name",
    "# OP Allocated",
    "net_op_deployed",
    "cumul_last_price_net_dollar_flow",
    "net_tvl_per_op"
]
result_app[cols].sort_values("cumul_last_price_net_dollar_flow", ascending=False).reset_index(drop=True).head(10)

,app_name,# OP Allocated,net_op_deployed,cumul_last_price_net_dollar_flow,net_tvl_per_op
0,Velodrome,"7,000,000.00","5,054,767.00","201,955,598.20",39.95
1,Synthetix,"9,000,000.00","4,919,425.00","83,886,839.97",17.05
2,Aave,"5,300,000.00","4,820,781.00","77,329,625.73",16.04
3,Rocket Pool,"600,000.00","205,002.00","36,404,537.59",177.58
4,Beefy Finance,"650,000.00","281,962.00","34,600,187.71",122.71
5,Stargate Finance,"1,000,000.00","469,725.00","26,951,682.20",57.38
6,Beethoven X,"500,000.00","164,703.00","26,250,099.00",159.38
7,PoolTogether,"1,000,000.00","842,488.00","25,209,238.41",29.92
8,Pika Protocol,"900,000.00","672,632.00","10,999,054.19",16.35
9,dHedge,"350,000.00","202,257.00","8,728,060.05",43.15

In [539]:
# sort by txs
txs_cols = [
    "app_name",
    "# OP Allocated",
    "net_op_deployed",
    "incremental_txs_per_day",
    "incremental_txs_annualized_per_op",
    "incremental_txs_per_day_after",
    "incremental_txs_after_annualized_per_op"
]

result_app = calculate_metrics(result_app)
print(result_app.columns)
# display(result_app)
result_app[txs_cols].to_csv('csv_outputs/transaction_stats_by_app.csv')
display(result_app[txs_cols].sort_values("incremental_txs_per_day", ascending=False).reset_index(drop=True).head(10))

display(result_app[txs_cols].sort_values("incremental_txs_after_annualized_per_op", ascending=False).reset_index(drop=True).head(10))

Index(['app_name', '# OP Allocated', 'net_op_deployed',
       'incremental_addr_per_day', 'incremental_txs_per_day',
       'incremental_txs_per_day_after', 'incremental_gas_fee_eth_per_day',
       'cumul_last_price_net_dollar_flow',
       'incremental_addr_annualized_per_op',
       'incremental_txs_annualized_per_op',
       'incremental_txs_after_annualized_per_op',
       'incremental_gas_fee_eth_annualized_per_op', 'net_tvl_per_op'],
      dtype='object')

,app_name,# OP Allocated,net_op_deployed,incremental_txs_per_day,incremental_txs_annualized_per_op,incremental_txs_per_day_after,incremental_txs_after_annualized_per_op
0,Velodrome,"7,000,000.00","5,054,767.00","8,045.35",0.58,0.00,0.00
1,Pika Protocol,"900,000.00","672,632.00","4,781.95",2.59,0.00,0.00
2,Rubicon,"1,100,000.00","791,082.00","4,110.26",1.90,"1,583.82",0.73
3,Synthetix,"9,000,000.00","4,919,425.00","4,092.16",0.30,0.00,0.00
4,Aave,"5,300,000.00","4,820,781.00","3,122.79",0.24,"4,744.49",0.36
5,Hop Protocol,"1,000,000.00","152,602.00","3,003.30",7.18,0.00,0.00
6,Beethoven X,"500,000.00","164,703.00","2,297.19",5.09,0.00,0.00
7,PoolTogether,"1,000,000.00","842,488.00","1,910.07",0.83,0.00,0.00
8,Stargate Finance,"1,000,000.00","469,725.00","1,306.27",1.02,0.00,0.00
9,QiDao,"750,000.00","342,865.00",930.99,0.99,0.00,0.00

KeyError: 'incremental_txs_per_day_annualized_per_op'