In [1]:
import sys
sys.path.append("../helper_functions")
import duneapi_utils as d
import growthepieapi_utils as gtp
import l2beat_utils as ltwo
sys.path.pop()

import numpy as np
import pandas as pd

In [2]:
# # # Usage
gtp_api = gtp.get_growthepie_api_data()
# # print(merged_df.sample(5))
gtp_meta_api = gtp.get_growthepie_api_meta()

In [3]:
l2beat_df = ltwo.get_all_l2beat_data()

In [4]:
l2beat_df.sample(5)

,timestamp,valueUsd,cbvUsd,ebvUsd,nmvUsd,valueEth,cbvEth,ebvEth,nmvEth,chain,transactions,ethereumTransactions
28464,2022-08-11,5.478642e+07,5.478642e+07,0.00,0.000000e+00,2.956564e+04,2.956564e+04,0.000000,0.00000,zkspace,NaN,NaN
22559,2023-12-11,2.407051e+05,2.407051e+05,0.00,0.000000e+00,1.022995e+02,1.022995e+02,0.000000,0.00000,orderly,3750.0,1087662.0
70356,2023-01-02,3.156683e+07,3.156683e+07,0.00,0.000000e+00,2.628449e+04,2.628449e+04,0.000000,0.00000,xdai,NaN,NaN
1363,2022-04-18,4.256716e+09,3.990950e+09,1424297.11,2.643412e+08,1.420933e+06,1.332218e+06,475.444083,88239.63581,arbitrum,64230.0,1103439.0
7311,2023-03-11,3.612433e+08,3.612433e+08,0.00,0.000000e+00,2.529041e+05,2.529041e+05,0.000000,0.00000,dydx,678999.0,1031282.0

In [5]:
combined_gtp_df = gtp_api.merge(gtp_meta_api[['origin_key','chain_name']], on='origin_key',how='left')
combined_gtp_df.sample(5)

,index,origin_key,date,daa,fdv_usd,fees_paid_usd,market_cap_usd,profit_usd,rent_paid_usd,stables_mcap,tvl,txcosts_median_usd,txcount,chain_name
1159,2041,base,2023-10-18,88365.0,NaN,2.844868e+04,NaN,12479.9582,15968.726384,2.770333e+08,5.902362e+08,0.033986,451347.0,Base
6904,10071,polygon_zkevm,2021-06-09,NaN,1.484787e+10,NaN,9.339502e+09,NaN,NaN,NaN,NaN,NaN,NaN,Polygon
2249,3131,ethereum,2023-07-18,373019.0,NaN,7.188334e+06,2.297726e+11,NaN,NaN,6.852029e+10,NaN,2.945183,1175963.0,Ethereum
9328,13503,starknet,2022-01-03,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.0,Starknet
2923,4565,imx,2021-08-30,724.0,NaN,NaN,NaN,NaN,416.207475,NaN,2.268680e+06,NaN,15636.0,IMX

In [6]:
# Check Columns
# Assuming combined_gtp_df is your DataFrame
column_names = combined_gtp_df.columns

for col in column_names:
    if col.endswith('_usd'):
        # Construct the new column name by replacing '_usd' with '_eth'
        new_col_name = col.replace('_usd', '_eth')
        
        # Check if the new column name exists in the DataFrame
        if new_col_name not in combined_gtp_df.columns:
            # If it doesn't exist, create the column and fill it with nan values
            combined_gtp_df[new_col_name] = np.nan

In [7]:
print(combined_gtp_df.dtypes)
print(l2beat_df.dtypes)

combined_gtp_df.sample(5)

index                   int64
origin_key             object
date                   object
daa                   float64
fdv_usd               float64
fees_paid_usd         float64
market_cap_usd        float64
profit_usd            float64
rent_paid_usd         float64
stables_mcap          float64
tvl                   float64
txcosts_median_usd    float64
txcount               float64
chain_name             object
fdv_eth               float64
fees_paid_eth         float64
market_cap_eth        float64
profit_eth            float64
rent_paid_eth         float64
txcosts_median_eth    float64
dtype: object
timestamp               datetime64[ns]
valueUsd                       float64
cbvUsd                         float64
ebvUsd                         float64
nmvUsd                         float64
valueEth                       float64
cbvEth                         float64
ebvEth                         float64
nmvEth                         float64
chain                           object
transactions                   float64
ethereumTransactions           float64
dtype: object

,index,origin_key,date,daa,fdv_usd,fees_paid_usd,market_cap_usd,profit_usd,rent_paid_usd,stables_mcap,tvl,txcosts_median_usd,txcount,chain_name,fdv_eth,fees_paid_eth,market_cap_eth,profit_eth,rent_paid_eth,txcosts_median_eth
1784,2666,ethereum,2022-04-09,371247.0,NaN,1.207563e+07,3.826629e+11,NaN,NaN,9.744336e+10,NaN,4.909374,1085399.0,Ethereum,NaN,NaN,NaN,NaN,NaN,NaN
7718,10885,polygon_zkevm,2023-09-01,7768.0,5.489257e+09,5.896032e+03,5.109117e+09,-68.459864,5964.492212,1.316082e+07,4.383157e+07,0.128564,29581.0,Polygon,NaN,NaN,NaN,NaN,NaN,NaN
456,604,arbitrum,2022-08-28,27611.0,NaN,1.720589e+04,NaN,377.094457,16828.797344,1.156159e+09,3.023248e+09,0.077532,177377.0,Arbitrum,NaN,NaN,NaN,NaN,NaN,NaN
10164,14952,zksync_era,2023-03-07,7.0,NaN,NaN,NaN,NaN,NaN,NaN,4.094393e+04,0.473771,16.0,zkSync Era,NaN,NaN,NaN,NaN,NaN,NaN
7100,10267,polygon_zkevm,2021-12-22,NaN,2.370654e+10,NaN,1.623778e+10,NaN,NaN,NaN,NaN,NaN,NaN,Polygon,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Post to Dune API
d.write_dune_api_from_pandas(combined_gtp_df, 'growthepie_l2_activity',\
                             'L2 Usage Activity from GrowThePie')
d.write_dune_api_from_pandas(gtp_meta_api, 'growthepie_l2_metadata',\
                             'L2 Metadata from GrowThePie')
d.write_dune_api_from_pandas(l2beat_df, 'l2beat_l2_activity',\
                             'L2 Usage Activity from L2Beat')

table at: dune.oplabspbc.dataset_growthepie_l2_activity
Response status code: 200
Response content: b'{"success":true,"table_name":"growthepie_l2_activity"}'
table at: dune.oplabspbc.dataset_growthepie_l2_metadata
Response status code: 200
Response content: b'{"success":true,"table_name":"growthepie_l2_metadata"}'
table at: dune.oplabspbc.dataset_l2beat_l2_activity
Response status code: 200
Response content: b'{"success":true,"table_name":"l2beat_l2_activity"}'